{% extends base.html %}

{% block title %} 仓库 - {{warehouse}} {% end %}


{% block body %}
<h1>{{warehouse}}</h1>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">产品编号</th>
                    <th scope="col">产品数量</th>
                    <th scope="col">制造商编号</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <th scope="row">{{item[0]}}</th>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                </tr>
                {% end %}
            </tbody>
            </table>
    </div>
</div>
{% end %}